body {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: #CADEEB;
    padding: 10px;
}

div#paper {
    background-color: white;
    padding: 15px 30px;
    width: 800px;
    box-shadow: 5px 5px 2px 0 rgba(0, 0, 0, 0.3);
    text-align: left;
    margin: 0 auto;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 16px;
}

p {
    font-size: 25px;
    text-align: left;
}

ul {
    font-size: 25px;
    list-style: none;
}

ul img {
    height: 60px;
    margin-right: 15px;
    padding: 10px;
}

img.bigger {
    height: 80px;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    font-size: 14px;
}

h6 {
    font-size: 16px;
}

@media(min-width: 729px) {
    font-size: 20px;
}